# Xcode
#
# gitignore template for Xcode
#

# OS X / macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode User Data & Derived Data
DerivedData/
build/
.build/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift PM
.build/
.swiftpm/

# App Store Connect / Local Artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM
